* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #66669e;
  color: white;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.login-box {
  background-color: #182553;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 40px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #cccbcb;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff2c;
  background-color: #2f3e74c6;
  color: white;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background-color: #ea2c4c;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #bb0429;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #16213e;
  border-bottom: 2px solid #e94560;
}

.Name {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.links a:hover {
  color: #e94560;
}

/* PAGE CONTAINER */
.page-container {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn-add {
  background-color: #e94560;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #16213e;
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}

/* RECIPE GRID */
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.recipe-card {
  background-color: #16213e;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.recipe-image {
  font-size: 50px;
  margin-bottom: 10px;
}

.recipe-card h3 {
  margin-bottom: 10px;
}

.recipe-card p {
  color: #a0a0a0;
  margin-bottom: 5px;
}

.recipe-card a {
  color: #e94560;
  text-decoration: none;
}
